.nav ul{
    margin: 0;
    padding: 35px;
    width: 100%;
    display: block;
    background: #000000;
    list-style: none;
}

.nav li{
    width: 100%;
    display: inline;
    padding: 5%;
}

.background {
    display: block;
    width: 100%;
    border: 20px;
    margin: 50px;
    background: rgba(196, 196, 196, 0.12);
    border-radius: 15px;  
}

a:link, a:visited, a:hover, a:active {
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: white;
}

.unclarito {
    position: absolute;
    width: 103px;
    left: 28px;
    height: 21px;
    top: 22px;

    font-weight: 600;
    line-height: 24px;
}

.home{
    position: absolute;
    width: 74px;
    left: 900px;
    height: 21px;
    top: 22px;
    font-size: 20px;
}

.products {
    position: absolute;
    width: 74px;
    left: 1100px;
    height: 21px;
    top: 22px;
    font-size: 20px;
}

.gallery {
    position: absolute;
    width: 74px;
    left: 1300px;
    height: 21px;
    top: 22px;
    font-size: 20px;
}

.tufting {
    position: absolute;
    width: 74px;
    left: 1500px;
    height: 21px;
    top: 22px;
    font-size: 20px;
}

.cart {
    position: absolute;
    width: 74px;
    height: 21px;
    left: 1700px;
    top: 22px;
    font-size: 20px;
}



.first-title{
    position: absolute;
    width: 69px;
    height: 36px;
    left: 161px;
    top: 400px;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 39px;
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
}

.first-text {
    position: absolute;
    width: 700px;
    height: 180px;
    left: 250px;
    top: 450px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #000000;
}

.second-title{
    position: absolute;
    width: 199px;
    height: 36px;
    right: 161px;
    top: 1150px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 39px;
    color: #000000;
}

.second-text {
    position: absolute;
    width: 700px;
    height: 180px;
    right: 300px;
    top: 1200px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
}

.third-title{
    position: absolute;
    width: 204px;
    height: 36px;
    left: 161px;
    top: 1900px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 39px;
    color: #000000;
}

.third-text {
    position: absolute;
    width: 700px;
    height: 111px;
    left: 250px;
    top: 2000px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
}

.firstphoto{
    position: absolute;
    width: 530px;
    height: 750px;
    right: 50px;
    top: 141px;
    background: url(img/pies.jpeg);
    border-radius: 400px;
}

.secondphoto {
    position: absolute;
    width: 600px;
    height: 850px;
    left: 50px;
    top: 800px;
    background: url(img/The_Wave_Rug___Behance.png);
    border-radius: 400px;
}

.thirdphoto {
    position: absolute;
    width: 564px;
    height: 752px;
    right: 50px;
    top: 1600px;
    background: url(img/pink\ carpet.jpeg);
    border-radius: 250px;
}

.products-section {
    position: absolute;
    width: 157px;
    height: 36px;
    left: 89px;
    top: 1717px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}