html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    margin-bottom: 40px;
}

.nav ul{
    position: fixed;
    margin: 0;
    padding: 15px;
    width: 100%;
    background: #000000;
    z-index: index;
}

.nav li{
    width: 100%;
    display: inline;
    padding: 5%;
}

.footer_nav ul{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 15px;
    width: 100%;
    background: #000000;
    z-index: index;
}

.footer_nav li {
    width: 100%;
    display: inline;
    padding: 5%;
}

.background {
    display: block;
    width: 100%;
    border: 20px;
    margin: 0;
    background: rgba(196, 196, 196, 0.12);
    border-radius: 15px;  
}

a:link, a:visited, a:hover, a:active {
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: white;
}

.font-titles {
    position: absolute;
    font-weight: 150;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    height: 36px;
}

.font-text {
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    display: block;
    align-items: center;
    text-align: justify;
    color: #000000;
    width: 400px;
    height: 180px;
}

.first-title {
    left: 0px;
    top: 250px;
    padding-left: 100px;
}

.first-text {
    left: 150px;
    top: 350px;
}

.second-title{
    width: 110px;
    right: 0px;
    top: 750px;
    padding-right: 100px;
}

.second-text {
    right: 180px;
    top: 850px;
}

.third-title{
    left: 0px;
    top: 1250px;
    padding-left: 100px;
}

.third-text {
    left: 150px;
    top: 1350px;
}

.home-photos {
    position: absolute;
    width: 300px;
    height: 500px;
    border-radius: 400px;
}

.firstphoto{
    right: 50px;
    top: 100px;
}

.secondphoto {
    left: 50px;
    top: 600px;
}

.thirdphoto {
    right: 50px;
    top: 1100px;
}

.product-section {
    position: absolute;
    width: 100%;
    height: 560px;
    left: 0;
    top: 1800px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.product {
    position: absolute;
    width: 373px;
    height: 476px;
    left: 0px;
    top: 0px;
    padding: 10%;
    margin: 5px;
}

.product-photo {
    position: absolute;
    width: 373px;
    height: 373px;
    border-radius: 51.7847px;
    top: 0px;
}

.product-text {
    position: absolute;
    width: 303px;
    height: 77px;
    top: 399px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    text-align: justify;
    color: #000000;
    margin-left: 40px;
}

.product-title {
    position: absolute;
    width: 157px;
    height: 36px;
    left: 100px;
    top: 1670px;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.first-product {
    left: 0px;
}

.second-product {
    left: 414px;
}

.thrid-product {
    left: 828px;
}

.fourth-product{
    left: 1242px;
}

.gallery-title {
    position: absolute;
    width: 157px;
    height: 36px;
    left: 100px;
    top: 3000px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}