*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Home*/

.container_home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:    "nav    nav"
                            "header header"
                            "main   main"
                            "footer footer";
}

.nav {
    grid-area: nav;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 20;
}

.nav h1 {
    margin: 10px;
    padding: 5px;
}

.nav h1 a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.nav ul {
    list-style: none;
    margin: 10px;
    display: flex;    
}

.nav ul li {
    margin: 10px;
    padding: 0 50px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.sale_img {
    display: flex;
    flex-wrap: wrap;
}

.title {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 5px;
}

.text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;

}

.btn {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    position: relative;
    justify-content: end;
    align-content: end;
}

.btn a {
    text-decoration: none;
    color: black;
}

.img {
    border-radius: 400px;
    width: 500px;
}

.header_home {
    grid-area: header;
    margin-top: 100px;
    padding: 15px;
}

.boxx1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    width: 500px;
    margin: 10px;
    padding: 10px;
}

.boxx2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box2 {
    width: 500px;
    margin: 10px;
    padding: 10px;
}

.boxx3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box3 {
    width: 500px;
    margin: 10px;
    padding: 10px;
}

.main {
    grid-area: main;
    margin: 15px;
}

.sale_title{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0 10px 50px;

}

.footer {
    grid-area: footer;
    background-color: black;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    bottom: 0;
}

.footer ul {
    margin: 10px;
    display: flex;
}

.footer ul li {
    margin: 10px;
    padding: 0 50px;
}

.footer ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:576px){
    .nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .nav h1 {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 20px;
        margin: 5px 0 0 0;
    }

    .nav ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    .nav ul li{
        padding: 0 25px;
    }

    .header_home {
        margin-top: 100px;
        padding: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
    }

    .img {
        width: 200px;
    }

    .footer {
        grid-area: footer;
        background-color: black;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        bottom: 0;
    }
    
    .footer ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    
    .footer ul li {
        padding: 0 25px;
    }

}

/*Products*/

.container_products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto ;
    grid-template-areas:    "nav    nav"
                            "header header"
                            "main   main"
                            "footer footer";
}

.header {
    grid-area: header;
    margin-top: 60px;
    padding: 10px;
}

.group_header{
    display: flex;
    justify-content: center;
}

.hand_made_title {
    display: flex;
    align-items: center;
}

.hand_made_title h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    transform: rotate(-90deg);
    display: block;
}

.hand_made_header_img {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand_made_img {
    border-radius: 10px;
    width: 100%;
}

.products {
    display: flex;
    padding: 25px;
}

.products_title {
    position: relative;
    left: 65px;
    top: 45px;
    margin: 10px;
    padding: 10px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.cards {
    margin: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
}

.products_cards {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: black;

}

.products_img {
    display: flex;
    margin: 5px;
    padding: 10px;
    width: 400px;
}

.products_text{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-bottom: 10px;
}

@media (min-width:350px) and (max-width:576px){

    .nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .nav h1 {
        font-size: 20px;
        margin: 5px 0 0 0;
    }

    .nav ul {
        margin: 0;
    }

    .header {
        grid-area: header;
        margin-top: 60px;
        padding: 10px;
    }
    
    .group_header{
        display: flex;
        align-items:center ;
    }
    
    .hand_made_title h1 {
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 35px;
        font-weight: 400;
        transform: rotate(0deg);
    }

    .main{
        margin: 0;
        padding: 0;
    }

    .products_title {
        left: 10px;
    }

    .cards{
        display: flex;
    }

    .products_cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
    }

    .products_img{
        width:200px;
    }

    .products_text{
        width: 150px;
        font-size: 9px;
    }


    .footer{
        display: flex;
        flex-wrap: wrap;
    }

    .footer ul {
        margin: 0;
        padding: 5px;
    }
}

/*Gallery*/

.container_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:    "nav    nav"
                            "header header"
                            "main   main"
                            "footer footer";
}

.gallery {
    width: 100%;
    
}

.gallery_catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.gallery_img {
    border-radius: 350px;
    width: 400px;
    height: 400px;
    padding: 10px;
}

.header_img {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_gallery_img {
    border-radius: 15px;
    width: 80%;
    height: 500px;
}

.gallery_title {
    margin: 20px 0px 10px 45px;
    padding: 10px;
    width: 140px;
}

.gallery_text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 5px;
}

/*Cart*/

.container_cart {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:    "nav        nav"
                            "header     aside"
                            "main       aside"
                            "main       aside"
                            "footer     footer";
}

.aside {
    grid-area: aside;
    background-color: aqua;
}

.cart_list {
    display: flex;
}

.cart_title {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.cart_text {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.cart_btn{
    background-color: rgb(71, 70, 70);
    border: none;
    width: 100%;
    height: 100px;
}

.cart_btn a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.cart_img {
    width: 200px;
}

.payment_details {
    background-color: gray;
    width: 90%;
    height: 90%;
}

.payment_details_title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 30px;
}

.card{
    background-color: #3983f3;
    width: 90%;
    height: 300px;
    left: calc(50% - 394px/2 + 363px);
    top: calc(50% - 262px/2 - 95px);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.visa {
    display: flex;
    justify-content: end;
    padding: 35px 25px 10px 5px;
}

.visa_img {
    width: 90px;
}

.card_info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form_number{
    display: flex;
    flex-direction: column;
}

.card_number{
    padding: 10px;
    width: 100%;
}

.card_names {
    display: flex;
    width: 100%;
    padding: 10px;
}

.card_title {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    padding: 10px;
}

.card_text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 68, 68);
    padding: 0 0 5px 10px;
}